@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This isn't a policy as such. Just something to say that nothing is stored by this website. The project ID that you enter is used only to retrieve the Content Type information from the Kentico Kontent delivery API and is not saved anywhere.</p>

