@model Kentico.Kontent.Delivery.Abstractions.IContentElement

<tr class="d-flex">
    <td class="col-4">@Model.Name</td>
    <td class="col-4">@Model.Codename</td>
    <td class="col-4">@Model.Type</td>
</tr>